// =========== palette ===================
$very_light : #f3fcf7;
$light : #d2f7df;
$primary : #75cfb8;
$dark : #64af95;
$very_dark: #4e8c7a;

$addition_light : #d6ba89;
$addition : #c19c5b;
$addition_dark : #997a5f;

$white : #ffffff;
$gray : #b5b5b5;
$black : #444444;